
.hide {
  display: none;
}
.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  text-align: center;
}

.stats-card {
  max-width: 300px;
  margin: 0 auto; 
  padding: 20px;
  overflow: hidden; 
}

.opcion.correct {
  background-color: rgba(0, 255, 72, 0.6) !important;
  color: #fff !important;
  border: 2px solid #00cc00 !important;
}

.opcion.wrong {
  background-color: rgba(255, 0, 0, 0.6) !important;
  color: #fff !important;
  border: 2px solid #cc0000 !important;
}

body {
  background-color: hwb(0 100% 0%); 
  font-family: 'Arial', sans-serif; 
  margin: 0; 
  padding: 20px; 
}

.quiz-header {
  background-color: hsl(0, 0%, 0%); 
  color: #ffffff; 
  padding: 20px;
  font-size: 24px;
  text-align: center; 
  font-weight: bold;
  border-radius: 8px; 
  border-color: #f428bd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-custom {
  background-color: #ff1bb5;
  width: 18rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  margin: center; 
  justify-content: center;
}

.card-custom:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); 
}

.card-title {
  font-weight: bold;
  color: #343a40; 
}


.opciones {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}


.opcion {
  padding: 15px 20px;
  border: 2px solid #fa23e8;
  border-radius: 8px;
  background-color: #ffffff; 
  color: #ff1bb5;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opcion:hover {
  background-color: #fa23e8; 
  color: white; 
}


.view {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.active {
  display: flex;
  background-color: hsl(303, 96%, 57%);
  padding: 30px;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.boton-siguiente {
  margin-top: 20px;
  font-weight: bold;
  background-color: #fd1bea; 
  border-color: #f428bd; 
  color: #f428bd; 
  border-radius: 8px; 
  transition: background-color 0.3s ease; 
}

.boton-siguiente:hover {
  background-color: #fa23e8; 
}

.btn {
  border-color: #ff1bb5; 
  background-color: #ffffff; 
  color: #ff1bb5; 
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease; 
}

.btn:hover {
  background-color: #fa23e8; 
  color: white;
     }